@media only screen and (max-width:768px) {

  .container {
    width: 100%;
  }

  /*-- ========== header ========== --*/

  .header-top {
    flex-direction: column;
    width: 250px;
    margin: 0 auto 12px auto;
  }

  .header-left {
    padding: 0;
  }

  .header-right {
    text-align: center;
  }

  .clinic-title {
    margin: 0 0 15px 0;
  }

  .tel-time {
    padding: 9px 20px;
    display: inline-block;
  }

  .header-navi ul {
    flex-wrap: wrap;
  }

  .header-navi li {
    flex: 0 1 50%;
    border-radius: 5px;
  }

  .header-navi li:first-child, .header-navi li:last-child {
    border-radius: 5px;
  }

  /*-- ========== header ========== --*/

  /*-- ========== main ========== --*/

  main .container {
    flex-direction: column;
    margin: 0 12px;
    width: auto;
  }

  .sidebar {
    order: 2;
    width: 100%;
  }

  .maincontent {
    order: 1;
    width: 100%;
    margin-bottom: 40px;
  }

  .maincontent-title h2 {
    padding: 20px 0 20px 25px;
  }

  /*-- ========== maincontent-home ========== --*/

  .maincontent-img img {
    display: block;
    max-width: 640px;
    width: 100%;
    height: auto;
  }

  .contents {
    padding-left: 20px;
  }

  .content {
    flex-direction: column;
  }

  .content-date {
    margin-bottom: 20px;
  }

  .content-information {
    padding-left: 10px;
  }

  /*-- ========== /maincontent-home ========== --*/

  /*-- ========== maincontent-staff ========== --*/

  .director-introduction {
    flex-direction: column;
  }

  .director-left {
    margin-right: 0;
    text-align: center;
  }

  .staff img {
    width: 100%;
    height: auto;
  }

  /*-- ========== /maincontent-staff ========== --*/

  /*-- ========== maincontent-access ========== --*/

  .gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  .gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .address {
    flex-direction: column;
  }

  .address-photo p {
    text-align: center;
  }

  /*-- ========== /maincontent-access ========== --*/

  /*-- ========== /main ========== --*/

  /*-- ========== footer ========== --*/

  .footer-navi {
    margin: 0 12px;
  }

  .footer-navi ul {
    flex-wrap: wrap;
    padding-right: 20px;
  }

  .company-information {
    padding-bottom: 5px;
  }

  .company-information p {
    margin: 0 12px;
  }

  .company-information span:nth-child(2) {
    line-height: 35px;
  }

  .company-information span::after {
    content: "\A" ;
    white-space: pre ;
  }

  /*-- ========== /footer ========== --*/
}
